<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Vue js 3</title>
    <link rel="stylesheet" href="style.css" />
  </head>

  <body>
    <header>
      <h2>Vue Js 3 Start</h2>
    </header>

    <div id="app"> 
      <input type="text" v-model="firstname" placeholder="First Name" />
      <input type="text" v-model="lastname" placeholder="Last Name" />
      <br>
      <p>Your Full Name Is:{{ fullname }} </p>
    </div>

    <script src="vue.js"></script>
    <script src="app.js"></script>
  </body>
</html>
